tensorflow
tf-keras
torch
transformers==4.46.2
transformers[and-cuda]
numpy
huggingface_hub[cli]
python-dotenv
accelerate
pandas
numpy
datasets
peft
trl
bitsandbytes
openai
python-dotenv
bert-score
yfinance
sentencepiece
scikit-learn
spacy
tqdm
tiktoken
sentence_transformers
nltk
faiss-cpu

lime
shap
seaborn
streamlit